<div class="center hero-unit">
	<h1 style="text-align: left">YaleStarter</h1>

	<p style="text-align: left">
		Disover an amazing project and join the team or 
		show us your passion and create your own project now!
	</p>

	<%= link_to "Sign in with Facebook!", "/auth/facebook",
	class: "btn btn-small btn-primary popup", style:"float:left; margin: 5px" %>
</div>

<div class="container-fluid">
	<div class="row-fluid">
		<h2 style="text-align:left">Popular Projects</h2>
		<div class="projects span12">
			<%= render @projects %>
		</div>
	</div>
	<div align="center">
	<br/>
	<%= form_tag("/search", :method => "get") do %>
		<p>
			<%= text_field_tag 'search' %>
			<%= submit_tag "Search", :class=>"btn btn-success" %>
		</p>
	<% end %>
</div>
</div>
