<div align="center">
<%= link_to "Create your own project!", new_project_path, class: "btn btn-large btn-primary popup", style:"float:center;" %>
</div>

<div class="container-fluid">
	<div class="row-fluid">
		<h2 style="text-align:left">Popular Projects</h2>
		<div class="projects span12">
			<%= render @projects %>
		</div>
	</div>
	<div align="center">
	<%= form_tag("/search", :method => "get") do %>
		<p>
			<%= text_field_tag 'search' %>
			<%= submit_tag "Search", %>
		</p>
	<% end %>
	</div>
</div>