<div class="user_header">
	<img src="<%= asset_path(@user.avatar) %>", class="avatar", type="normal"/>

	<h1 class="prof-name"><%= @user.name %></h1>
	<a href= <%=edit_user_path(@user)%> >Edit</a>
</div>

<div class="user-info">
	<dl>
		<% if @user.email %>
			<dt style = "text-align: left;">
				Email: 
			</dt>
			<dd>	
				<%= simple_format(@user.email) %>
			</dd>
		<% end %>
		<% if @user.location %>
			<dt style = "text-align: left;">
				Location: 
			</dt>
			<dd>	
				<%= simple_format(@user.location) %>
			</dd>
		<% end %>
		<% if @user.bio %>
			<dt style="text-align: left;">
				Bio:
			</dt> 
			<dd>
				<%= simple_format(@user.bio) %>
			</dd>
		<% end %>
		<% if !@user.tag_list.empty? %>
			<dt style="text-align: left;">
				Interests:
			</dt> 
			<dd>
				<%= raw @user.tag_list.map { |t| link_to t, interest_path(t) }.join(', ') %>
			</dd>
		<% end %>
	</dl>
</div>

