<div class="row-fluid">
  <div class="span6">
    <%= form_for(@project, :html => {:multipart => true}) do |f| %>
      <% if @project.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:
        </h2>
        <ul>
          <% @project.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
      <% end %>

      <div>
        <%= f.label :project_name %>
        <%= f.text_field :project_name %>
        <br/>
        <%= f.label :founder_name %>
        <%= f.text_field :founder_name %>
        <br/>
        <%= @project.errors.get(:contact) %>
        <%= f.label :contact, "Contact E-mail" %>
        <%= f.text_field :contact %>
        <br/>
        <%= f.label :tag_list, "Tags (separated by commas)" %>
        <%= f.text_field :tag_list %>
        <br/>
        <%= f.label :Photo %>
        <input id="project_photo" name="photo" type="file" />
        <br/>
        <%= f.label :looking_for %>
        <%= f.text_field :looking_for, :placeholder => "programmer, cofounder, etc." %>
        <br/>
        <%= f.label :description%>
        <%= f.text_area :description %>
      </div>
      <div class="actions">
        <%= f.submit class:"btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
    
