<div class="project_panel span3">
	<ul class="thumbnails">
	  <li class="">
	    <a href="<%= project_url(project) %>" class="thumbnail">
	      <img src= "<%= asset_path(project.photo) %>" alt="project pic" style="width: 300px; height: 200px"  >
	    </a>
	    
	   <% link = project_url(project) %>
	  
	    <div class="caption">
	    	<h3>
	    		<%=link_to project.project_name , project %>
	    	</h3>

	    	<div class="part-desc">
	    		<p>
	    			<%= project.description %>
	    		</p>
	    	</div>

	    	<p>
	    		<%= link_to "Learn more", project, class: "btn btn-primary", style:"float:right;"  %>
	    	</p>
	  </li>
	</ul>
</div>

<script type="text/javascript">
$(document).ready(function() {
 	
	$('.icon-facebook').bind('ajax:complete', function(event, data){
		
	}); 

	$('div.part-desc').haircut();

	$(window).resize(function () {
	  $('div.part-desc').stringResize();
	});

}); 
</script>