<div class="project_panel span3">
	<ul class="thumbnails">
	  <li class="">
	    <a href="#" class="thumbnail">
	      <img src= "http://www.eclipsewebmedia.com/wp-content/uploads/placeholdit.gif" alt="project pic" style="width: 300px; height: 200px"  >
	    </a>
	    
	    <a href=" http://www.facebook.com/sharer.php?u=http%3A%2F%2Flocalhost:3000/projects/+<%=project.id%>, :target => :blank">
	    	<i class="icon-facebook fb_share" style="float:right;"></i>
	    	<!--<%= facebook_share_once %>-->
	    </a>
	    <a>

	    	<i class="icon-twitter" style="float:right;"></i>
	    </a>

	    <a>
	    	<i class="icon-google-plus" style="float:right;"></i>
	    </a>


	    <div class="caption">
	    	<h3><%=link_to project.project_name , project %></h3>
	    	<p> <%= project.description %> </p>

	    	<p>
	    		<%= link_to "Learn more", project, class: "btn btn-primary", style:"float:right;"  %>
	    	</p>
	  </li>
	</ul>
</div>