<div class="project_panel span3">
	<ul class="thumbnails">
	  <li class="">
	    <a href="#" class="thumbnail">
	      <img src= "http://www.eclipsewebmedia.com/wp-content/uploads/placeholdit.gif" alt="project pic" style="width: 300px; height: 200px"  >
	    </a>
	    
	    <a href="http://www.facebook.com/sharer.php?u=http%3A%2F%2Flocalhost:3000/projects/+<%=project.id%>, :target => :blank">
	    	<i class="icon-facebook fb_share" style="float:right;"></i>
	    	<!--<%= facebook_share_once %>-->
	    </a>

	   <% link = project_url(project) %>
	   <% bitly_link = bitly.shorten("http://127.0.0.1:3000/projects/#{project.id}").short_url  %>

	   <%= link_to "promote", promote_path(:id => project.id) %>
	    <a id="share-twitter"/>
	    	<i class="icon-twitter" style="float:right;"></i>
	    </a>

	    <a id="promote" href="#" controller="project", action = "promote">
	    	<i class="icon-star" style="float:right;"></i>
	    </a>

	    <!--<%= custom_tweet_button('Tweet', {:text => "Check out my new project! #{bitly_link}", :via =>""}) %>-->
	    <div class="caption">
	    	<h3><%=link_to project.project_name , project %></h3>
	    	<p> <%= project.description %> </p>

	    	<p>
	    		<%= link_to "Learn more", project, class: "btn btn-primary", style:"float:right;"  %>
	    	</p>
	  </li>
	</ul>
</div>

<script type="text/javascript">
$(document).ready(function() {
 	$('.icon-twitter').click(function(event) {
    var width  = 575,
        height = 400,
        left   = ($(window).width()  - width)  / 2,
        top    = ($(window).height() - height) / 2,
        url<%=project.id%> = "http://twitter.com/home?status=Check out my new project! <%= bitly_link %>",
        opts   = 'status=1' +
                 ',width='  + width  +
                 ',height=' + height +
                 ',top='    + top    +
                 ',left='   + left;

    window.open(url<%=project.id%>, 'twitter', opts);

    return false;
  });

 $('.icon-facebook').click(function(event) {
    var width  = 575,
        height = 400,
        left   = ($(window).width()  - width)  / 2,
        top    = ($(window).height() - height) / 2,
        url = "http://www.facebook.com/sharer.php?u=http%3A%2F%2Flocalhost:3000/projects/+<%=project.id%>, :target => :blank",
        opts   = 'status=1' +
                 ',width='  + width  +
                 ',height=' + height +
                 ',top='    + top    +
                 ',left='   + left;

    window.open(url, 'facebook', opts);

    return false;
  });

	$('.icon-facebook').bind('ajax:complete', function(event, data){
		
	}); 

}); 
 </script>