<h1>Listing projects</h1>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="projects span12">
      <% @projects.each do |project| %>
        <div class="project_panel span3">
          <ul class="thumbnails">
            <% @projects.each do |project| %>
            <li class="">
              <%= link_to project do %>
                <img src= "<%= asset_path(project.photo) %> " alt="project pic" style="width: 300px; height: 200px"/>
              <% end %>

              <div class="caption">
                <h3>
                  <%=link_to project.project_name , project %>
                </h3>
                <p> 
                  <%= project.description %> 
                </p>
              </div>
                <p>
                  <%= link_to "Learn more", project, class: "btn btn-primary", style:"float:right;"  %>
                </p>
            </li>
            <% end %>
          </ul>
        </div>
        <div class="container-fluid", id="tags">
          <div class="row-fluid">
            <h3>
            <i class="icon-tags icon-label"></i>
             Tags </h3>
            <ul>
              <% Project.tag_counts.each do |tag| %>
                <li>
                  <%= link_to tag.name, tag_path(tag.name) %>(<%= tag.count %>)
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span4" style="background-color:white">
    </div>
  </div>
</div>



