<h1>Listing projects</h1>

:project_name, :founder_name, 
:looking_for, :description, :rating, :consider
<table>
  <tr>
   <th>Project Name</th>
   <th>Founder's Name</th>
   <th>Looking For</th>
   <th>Description</th>
   <th>Rating</th>
   <th>Number of people considering</th>
   <th></th>
   <th></th>
   <th></th>
 </tr>

 <% @projects.each do |project| %>
 <tr>
  <td><%= project.project_name %></td>
  <td><%= project.founder_name %></td>
  <td><%= project.looking_for %></td>
  <td><%= project.description %></td>
  <td><%= project.rating %></td>
  <td><%= project.consider %></td>
  <td><%= link_to 'Show', project %></td>
  <td><%= link_to 'Edit', edit_project_path(project) %></td>
  <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
<% end %>
</table>

<br />

<%= link_to 'New project', new_project_path %>
