<h1 id="project_name"><%= @project.project_name %></h1>

<div class="row-fluid">
	<div class="span10">
		<img src="<%= asset_path('larry.jpg') %>"/>
	</div>
</div>

<!-- Carousel nav -->
  <!--
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>-->

  <h2 id="desc-title">Description</h2>
  <div class="row-fluid">
  	<div class="span4">
  		<div class="well desc">
  			<p>
  				<%= @project.description %>
  			</p>
  		</div>
  		<a href="#" class="btn btn-primary" style="float:right">Apply now!</a>
  	</div>
  </div>

  <script>
  $('.carousel').carousel('cycle')
  </script>

<div>
	<div>
		<h3><%= pluralize(@comments.count, "Comment") %> for <%= @project.project_name %> </h3>
		<ol class="comments span12">
			<% @comments.each do |comment| %>
				<li><%= comment.text %> by <%= comment.user.name %></li><br />
			<% end %>
		</ol>
	</div>
	<br/>
	<br/>
	<br/>
	<br/>
	<div>
		<p>New Comment:</p>
		<%= form_for @new, :url => {:action => :comment} do |f| %>
			<% if flash[:error] %>
				<p><%= flash[:error] %></p>
			<% end %>
			<%= f.text_area :text, :rows => 5, :cols => 80, :name => :input %><br />
			<%= hidden_field :project, :id , :name => :id%>
			<%= f.submit %>
		<% end %>
	</div>
</div>


  <%= link_to 'Edit', edit_project_path(@project) %> |
  <%= link_to 'Back', projects_path %>
