<h1 id="project_name"><%= @project.project_name %></h1>

<div class="row-fluid">
	<div class="span6">
		<img src="<%= asset_path(@project.photo) %>"/>
	</div>

	<div class="span4 info">
		<div class="well">	
			<h2>Info</h2>
			<div>
				<h3>Founder: <%= @project.founder_name.capitalize %>
				</h3>
				<h3>
					Looking For: <%= @project.looking_for.capitalize %> 
				</h3>
				<% if @project.consider %>
				<h3>
					Positions Available: <%= @project.consider %>
				</h3>
				<% end %>
			</div>
		</div>	
	</div>
</div>




<!-- Carousel nav -->
  <!--
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>-->

  <h2 id="desc-title">Description</h2>
  <div class="row-fluid">
  	<div class="span4">
  		<div class="desc">
  			<p>
  				<%= simple_format(@project.description) %>
  			</p>
  		</div>
  		<div >
				<a href = "<%=promote_path(:id => @project.id)%>">
					<i class="icon-star icon-2x" style="color: #FFE600;"></i>
				</a>
				<a href = "<%=promote_path(:id => @project.id)%>">
					<i class="icon-star icon-2x" style="color: #FFE600;"></i>
				</a>
				<a href = "<%=promote_path(:id => @project.id)%>">
					<i class="icon-star icon-2x" style="color: #FFE600;"></i>
				</a>
			</div>
  		<a href="#" class="btn btn-primary" style="float:right">Apply now!</a>
  	</div>
  </div>


<% if @project.comments.any? %>
	<div>
		<div>
			<h3><%= pluralize(@comments.count, "Comment") %> for <%= @project.project_name %> </h3>
			<ol class="comments span12">
				<% @comments.each do |comment| %>
					<li><%= comment.text %> by <%= comment.user.netid %></li><br />
				<% end %>
			</ol>
		</div>
		<div>
<% end %>
			<p>New Comment:</p>
			<%= form_for @new, :url => {:action => :comment} do |f| %>
				<% if flash[:error] %>
					<p><%= flash[:error] %></p>
				<% end %>
				<%= f.text_area :text, :rows => 5, :cols => 80, :name => :input %><br />
				<%= hidden_field :project, :id , :name => :id%>
				<%= f.submit class:"btn btn-success" %>
			<% end %>
		</div>
	</div>

  <script>
  $('.carousel').carousel('cycle')
  </script>

