<h1 id="project_name"><%= @project.project_name %></h1>

<div class="row-fluid">
	<div class="span6">
		<img src="<%= asset_path(@project.photo) %>"/>
	</div>

	<div class="span6 info">
		<div class="well">	
			<h2>Info</h2>
			<div>
				<i class="icon-user icon-2x"></i>
				<h3>Founder: <%= @project.founder_name.capitalize %>
				</h3>
				<h3>
					Looking For: <%= @project.looking_for.capitalize %> 
				</h3>
				<% if @project.consider %>
				<h3>
					Positions Available: <%= @project.consider %>
				</h3>
				<% end %>
			</div>
      <h3>
        Tags: <%= raw @project.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %>
      </h3>
		</div>	
	</div>
</div>




<!-- Carousel nav -->
  <!--
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>-->

  <h2 id="desc-title">Description</h2>
  <div class="row-fluid">
  	<div class="span4">
  		<div class="desc">
  			<p>
  				<%= simple_format(@project.description) %>
  			</p>
  		</div>
  		<div >
  			<a href = "<%=promote_path(:id => @project.id)%>">
  				<i class="icon-star icon-2x" style="color: #FFE600;"></i>
  			</a>
  			<a href = "#" onclick="displayModal();return false;">
  				<i class="icon-facebook icon-2x"></i>
  			</a>
  		</div>
  		<a href="#" class="btn btn-primary" style="float:right">Apply now!</a>
  	</div>
  </div>


  <% if @project.comments.any? %>
  <div>
  	<div>
  		<h3><%= pluralize(@comments.count, "Comment") %> for <%= @project.project_name %> </h3>
  		<ol class="comments span12">
  			<% @comments.each do |comment| %>
  			 <li><%= comment.text %> by <%= comment.user.netid %></li><br />
  			<% end %>
  		</ol>
  	</div>
  <% end %>
  <div>		
  	<p>New Comment:</p>
  	<%= form_for @new, :url => {:action => :comment} do |f| %>
  	<% if flash[:error] %>
		  <p><%= flash[:error] %></p>
  	<% end %>
  	<%= f.text_area :text, :rows => 5, :cols => 80, :name => :input %><br />
  	<%= hidden_field :project, :id , :name => :id%>
  	<%= f.submit class:"btn btn-success" %>
  	<% end %>
  </div>
  </div>

  <script>
  $('.carousel').carousel('cycle')
  </script>

  <div class="modal hide fade" id="fbshare">
  	<div class="modal-header">
  		<a class="close" data-dismiss="modal" >×</a>
  		<h1 style="text-align: center;">Share this project!</h1>

  		<h3 style="text-align:center;">
  			Enter the text you want to share:
  		</h3>

  		<div align="center">
			<%= form_tag(fbshare_path(:id => @project.id), :method => "post") do %>
				<p>
					<%= text_area_tag 'message' %>
					<%= submit_tag "Share on Facebook!", class:"btn btn-primary" %>
				</p>
			<% end %>
		</div>
  	</div>
  </div>

  <script type="text/javascript">
  function displayModal()
  {
  	$('#fbshare').modal('show');
  }
  </script>
